@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
}


/* HEADER */

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 2fr 2fr;
    height: 150px;
}

.logoFizzmod {
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.logoFizzmod img{
    width: 70%;
    padding-left: 2em;
    padding-top: 1em;
}

.topNav {
    padding: 0.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-column: 10 / 13;
    grid-row: 1 / 2
}

.topNav a{
    padding: 0.7em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1DB779;
    text-decoration: none;
}

.topNav a:hover{
    color: black;
}

.buscador {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 90%;
    grid-column: 3 / 11;
    grid-row: 2 / 3;
}

.buscador span{
    padding-left: 2em;
    padding-top: 0.7em;
    font-size: 26px;
}


#miCarrito {
    display: grid;
    height: 4em;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: #1E1E1E;
    text-align: center;
    grid-column: 10 / 13;
    grid-row: 2 / 3;
}

#miCarrito:hover{
    background-color: grey;
    cursor: pointer;
}

#miCarrito a{
    color:white;
    text-decoration: none;
    grid-column: 5/8;
    grid-row: 2/3;
    padding-top: .4em;
}

#miCarrito span{
    color: white;
    font-size: 25px;
    grid-column: 4/5;
    grid-row: 2/3;

}

#menu {
    display: grid;
    grid-column: 1 / 13;
    grid-template-columns: repeat(5, 1fr)
}

#menu div{
    background-color: #1DB779;
    width: auto;
    text-align: center;
    padding-top: 1em;
}

#menu div:hover{
    background-color: #1E1E1E;
    cursor: pointer;
}

#menu a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #FFFF;
    text-decoration: none;
}



header input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
}


/*     FOOTER    */


.footer{
    display: grid;
    height: 25em;
    padding-top: 4em;
    grid-template-columns: repeat(12, 1fr);
    background-color: #1E1E1E;
}

.footer li{
    margin-top: 1em;
}

.links{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    font-size: .7em;
}

#productos{
    grid-column: 3/4;
}


#miCuenta{
    grid-column: 5/6;
}

#contactanos{
    grid-column: 7/8;
}

#redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2em;
    padding-left: 6em;
    padding-right: 6em;
    grid-column: 9/12;
}

.iconos img{
    width: 1.5em;
    height: 1.5em;
}

.footerTitulos{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-bottom: .5em;
    border-bottom: 1px solid white;
}

.footerTitulos h2{
    font-size: 1.2em;
    font-weight: bold;
}

/* CONTENIDO BODY */

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.contenido{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 50em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 3em;
}

.productos{
    display: grid;
    grid-gap: .7em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;

}

.contenedor-producto{
    cursor: pointer;
    border-radius: 16px;

}

.contenedor-producto:hover{
    border-color: #1DB779;
    box-shadow: 0 0 20px #1E1E1E;

}


.imgProduct img{
    margin-left: 1.8em;
    margin-bottom: 1em;
    border-radius: 16px;


}

.imgProduct span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    background-color: #00C4C1;
    width: 3em;
    height: 3em;
    border-radius: 40px;
    text-align: center;
    padding-top: .6em;
}

.contenedor-producto h3, h4, h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.contenedor-producto h3{
    font-size: 1.3em;
}

.contenedor-producto h5{
    font-size: 1em;
    color: #9B9B9B;
    text-decoration: line-through;
}

.contenedor-producto h4{
    color: #1DB779;
    font-weight: bold;
}


/* FILTROS */

.filtros{
    margin-left: 2em;
}

.filtros label{
    padding-top: .4em;
    cursor: pointer;
}

#brand{
    display: grid;
    grid-template-columns: 10% 90%;
}

#category{
    display: grid;
    grid-template-columns: 10% 90%;
}


@media screen and (max-width: 400px){
    .logoFizzmod {
        text-align: center;
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .topNav{
        text-align: center;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
    .buscador span{
        display: none;
    }

    .buscador{
        display: block;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    #miCarrito a {
        display: none;

    }

    #miCarrito{
        text-align: center;
        grid-column: 11 / 13;
        grid-row: 3 / 4;
    }

    #menu div{
        grid-column: 1 / -1;
    }

    .carrusel{
        margin-top: 15em;
    }

    .contenido{
        display: grid;
        width: auto;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    #filtros{
        margin-left: .7em;
        grid-column: 1 / -1;
    }

    #filtros p{
        display: flex;
        font-size: .9em;
    }

    #filtros  p  label{
        margin-right: .7em;
        margin-left: .2em;
    }

    #contenedor{
        display: grid;
        grid-template-columns: 1fr;
    }

    .contenedor-producto{
        text-align: center;
        grid-column: 1 / -1;
        width: 24em;
        height: 15em;

    }
    .contenedor-producto img{
        width: 7em;
    }
    .contenedor-producto h3{
        font-size: 1.2em;
    }

    .footer{
        margin-top: 90em;
    }
}